@import 'vars';
@import 'global';
@import 'fonts';


// Start
.header__top{
    //height: 65px;
    &-inner{
        display: flex;
        align-items: center;
        padding: 10px 0px;
    }   
    &-box{
        display: flex;
        align-items: center;
    }

}
.header__logo{
    display: flex;
    align-items: center;
    &-title{
        color: $yellow;
        font-size: 48px;
        font-weight: 700;
    }
    &-text{
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        width: 90px;
        margin-left: 5px;
    }
}

.menu{
    li{
        display: inline-block;
        text-align: center;
        font-weight: 700;
        &+li{
            margin-left: 17px;
        }
    }
    margin-right: 80px;
    margin-left: 80px;
}

.menu__btn{
    display: none;
}

.link__btn{
    font-weight: 700;
    background-color: $yellow;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 25px;
    line-height: 18px;
    text-align: center;
}

.header__bg-img{
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header__phone{
    height: 50px;
    background-color: $blue;
    &-box{
        position: relative;
    }
    &-bg{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 360px;
        height: 53px;
        position: absolute;
        right: 0px;
        bottom: 20px;
    }
    &-text{
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
        padding: 10px 0px;
    }

    &-number{
        font-family: 'Bebas Neue', cursive;
        font-size: 53px;
        color: #fff;
        position: absolute;
        bottom: 20px;
        right: 30px;
        
    }
}

//  start services

.services{
    &__inner{
        margin: 50px 0px 60px;
    }
    &__title{
        font-size: 28px;
        font-family: 'Bebas Neue', cursive;
        color: #000;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    &__text{
        max-width: 900px;
    }
    &__itembox{
        margin-top: 40px;
    }
    &__item{
        max-width: 255px;
        min-height: 308px;
        border: 2px solid $blue;
        text-align: center;
        &-img{
            height: 61px;
            margin: 20px auto 20px;
        }
        &-title{
            font-weight: 700;
            margin: 0px 10px 15px;
            color: #000;
            height: 50px;
        }
        &-text{
            margin: 10px 10px;
        }
    }
}
.slick-dots{
    margin-top: 10px;
    li{
        &.slick-active{
            button{
                background-color: $blue;
            }
        }
        display: inline-block;
        &+li{
            margin-left: 10px;
        }
        button{
            outline: none;
            font-size: 0px;
            border: 1px solid $blue;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: #fff;
        }
    }
}

// end services 

// start about
.about{
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__content{
        max-width: 700px;
    }
    &__title{
        font-size: 28px;
        font-family: 'Bebas Neue', cursive;
        color: #000;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    &__img-box{
        display: flex;
    }
    &__img{
        width: 300px;
        height: 225px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &+.about__img{
            margin-left: 20px;
        }        
    }
    &__info-title{
        margin-top: 55px;
        font-size: 20px;
        font-weight: 700;
        max-width: 600px;
        margin-bottom: 40px;
        color: #000;
    }
    &__info-text{
        font-size: 18px;
        max-width: 600px;
        margin-bottom: 45px;
    }

}

.about__aside{
    max-width: 450px;
    &-info{
        font-size: 18px;
    }
    &-inner{
        margin-top: 30px;
        position: relative;
    }
    &-polosa{
        height: 370px;
        width: 3px;
        background-color: #d7d7d7;
        position: absolute;
        z-index: -1;
        top: 105px;
        left: 55px;
    }
    &-item{
        display: flex;
        margin-bottom: 77px;
    }
    &-img{
        height: 110px;
        width: 110px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &-textbox{
        align-items: center;
        margin-left: 25px;
        max-width: 245px;
    }
    &-title{
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
    }
    &-text{
        font-size: 18px;
    }
}
//end about

// start linkme
.linkme{
    min-height: 510px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    position: relative;
}

.linkme__leftbox{
    background-color: $blue;
    opacity: .5;
    max-width: 50%;
    min-height: 510px;
    
}

.linkme__form{
    position: absolute;
    max-width: 30%;
    left: 15%;
    margin-bottom: 55px;
    top: 0px;
    padding: 90px 60px;

    &-title{
        font-size: 28px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 55px;
    }
    
    form{
        
        input{
            outline: none;
            color: #fff;
            width: 100%;
            height: 53px;
            border: 3px solid #fff;
            margin-bottom: 30px;
            font-size: 18px;
            font-weight: 700;
            padding: 15px 40px;
            background-color: transparent;
            &::placeholder{
                text-transform: uppercase;
                color: #fff;
            }
        }
        button{
            text-align: center;
            padding: 20px 20px;
            margin:10px 0px;
            background-color: $yellow;
            width: 100%;
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 18px;
            font-weight: 700;
        }
    }
}
// end linkme

// start projects
.projects{

    margin-top: 80px;
    &__inner{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 35px;
    }
    &__title{
        font-size: 28px;
        font-family: 'Bebas Neue', cursive;
        color: #000;
        text-transform: uppercase;
    }
    &__item{
        margin-left: 40px;
        margin-bottom: 32px;
        background-color: $blue;
        height: 300px;
        width: 255px;
        margin-left: 10px;    
        box-shadow: 1px 1px 1px 2px rgba($color: $blue, $alpha: 0.3);
        &-img{
            width: 100%;
            height: 240px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;                
        }
        &-text{
            margin: 20px 0px;
            text-align: center;
            font-size: 16px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    // end projects 
}

//start review
.review{
    background-color: #efefef;
    padding: 70px 10px;
    &__item{
        max-width: 520px;
        border-right: 1px solid $blue;
        border-bottom: 1px solid $blue;
        margin-left: 20px;
        padding-left: 10px;
        padding-bottom: 10px;
        &-text{
            width: 95%;
        }
    }
    &__title{
        font-size: 28px;
        font-family: 'Bebas Neue', cursive;
        color: #000;
        text-transform: uppercase;
    }
    &__inner{
        margin-top: 40px;
    }
    
}

.person{
    display: flex;
    align-items: center;
    margin-bottom: 30px;   
    &-photo{
        width: 220px;
        height: 220px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;             
        border-radius: 50%;           
    }
    &__info{
        margin-left: 25px;
        max-width: 250px;
    }
    &-organization{
        font-weight: 700;
        color: #000;
        margin-bottom: 30px;
    }
    
    &-prof{
        margin-bottom: 20px;
    }
}
//end review

//partner start
.partner{
    &__title{
        font-size: 28px;
        font-family: 'Bebas Neue', cursive;
        color: #000;
        text-transform: uppercase;
        margin-top: 60px;
    }

    &__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 50px 20px 60px;
    }
    
    &__item{
        margin-left: 20px;
        margin-top: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;             
    }
}

.img1{
    width: 178px;
    height: 85px;
}

.img2{
    width: 130px;
    height: 83px;
}

.img3{
    width: 164px;
    height: 52px;
}

.img4{
    width: 185px;
    height: 80px;
}
.img5{
    width: 152px;
    height: 129px;
}

.footer{
    
    padding: 55px 0px 70px;
    background-color: #252525;
    &__title{
        text-align: center;
        margin-bottom: 55px;
        color: $yellow;
        font-size: 28px;
        font-family: 'Bebas Neue', cursive;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__contact{
        max-width: 500px;
    }
    &__form{
        form{
            max-width: 420px;
            input{
                outline: none;
                color: #fff;
                width: 100%;
                height: 53px;
                border: 3px solid #fff;
                margin-bottom: 30px;
                font-size: 18px;
                font-weight: 700;
                padding: 15px 40px;
                background-color: transparent;
                &::placeholder{
                    text-transform: uppercase;
                    color: #fff;
                }
            }
            button{
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: $yellow;
                width: 100%;
                color: #fff;
                text-transform: uppercase;
                font-size: 18px;
                line-height: 18px;
                padding: 20px 20px;
                font-weight: 700;
            }
        }
    }
}

.contact__phone,
.contact__mail,
.contact__adress{
    position: relative;
    margin-bottom: 50px;
    
}

.contact__phone-img,
.contact__mail-img,
.contact__adress-img{
    position: absolute;
    left: -40px;
    top: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;             
}

.contact__phone-text,
.contact__mail-text,
.contact__adress-text{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    
}

.contact__phone-img{
    height: 29px;
    width: 29px;
}

.contact__mail-img{
    height: 20px;
    width: 28px;
}

.contact__adress-img{
    height: 26px;
    width: 22px;
}
//partner end


.slick-list.draggable{
    text-align: center;
}
.slick-dots{
    text-align: center;
    margin-top: 20px;
}

.sale{
    transform: rotate(-40deg);
    position: absolute;
    left: -80px;
    top: 60px;
    background-color: #d42e3a;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 22px;
    padding: 20px 10px;
    width: 400px;
    cursor: pointer;
}

//  End


@import 'media';
